.main{
    width: 100%;
    display: flex;
    background-color: var(--colorprimario);
    
}
 
    .articulo{
       display: flex;
       flex-wrap: wrap; 
       justify-content: space-around;  
                            
    }
    .article{         
        display: block;
        width: 380px;         
        margin: 15px;
        box-shadow: 0 4px 8px 0 rgb(198 221 226), 0 6px 20px 0 rgb(192 199 197);
        margin-bottom: 40px; 
        border-radius: 4px;
        overflow: hidden;
        padding-bottom: 20px;                  
    }
        .imagen{
            width: 380px;
            height: 271px;
            background-attachment: fixed; 
            background-size: cover; 
            background-position: center; 
            justify-content: center;                          
        }
             
        .texto{            
            background-color: #fcfcfc;
            background-color: var(--colorprimario);
                        
        }
        .texto hr{
            border: 1px solid rgb(198 221 226);
            border-width: 0 0 1px 0;

        }
            .texto h3{
                font-family: var(--fuenteprincipal);
                font-size: 14px;
                color: #202121;
                margin-bottom: 1px; 
                margin-block-start: 1em;
                margin-block-end: 1em;
                margin-left: 20px;
            }
            .texto h5{
                font-size: 14px;
                color: #202121;                 
                font-family: var(--fuenteprincipal);
                margin-bottom: 1px; 
                margin-block-start: 1em;
                margin-block-end: 1em;
                margin-left: 20px;
            }
            .texto p{
                 
                margin-top: 0px;
                margin-bottom: px;
                font-family: var(--fuentesecundaria);
                margin-left: 20px;
            }
            .texto .button{                 
                color:#f1f1f1;
                background-color:var(--colorsecundario);
                border: none;
                padding: 10px 10px;                 
                border-radius: 3px;                 
                font-family: var(--fuenteprincipal);
                text-decoration: none;
                margin-left: 20px;               
                
            }
            .texto .button:hover{
                background-color:rgba(70, 130, 180, 0.4);
            }
            .btn{
                display: flex;
                flex-direction: row;
                justify-content: space-around;

            }
