:root{
--colorprimario: #f4f7f6;
--colorsecundario:  #0073aa;
--colorterciario:#23282d;

--fuenteprincipal:'Montserrat', sans-serif;
--fuentesecundaria:'Roboto Slab', serif;
--fuentelogo: 'Zen Dots', cursive;


--easing: all 0.5s cubic-bezier(.55,0,.1,1);
--base-size: 20rem;
}
 