:root{
--colorprimario: #F1F1F1;
--colorsecundario:  #0073aa;
--colorterciario:#23282d;

--fuenteprincipal:'Montserrat', sans-serif;
--fuentesecundaria:'Roboto Slab', serif;
--fuentelogo:'Train One', cursive;


--easing: all 0.5s cubic-bezier(.55,0,.1,1);
--base-size: 20rem;
}
 